html {
  background-color: #F5F5F5;
}


.ma-top-50 {
  margin-top: 50px;
}
.pa-bottom-10 {
  padding-bottom: 10px;
}
.pa-20 {
  padding: 20px;
}
.text-center {
  text-align: center;
}
.link {
  font-size: 12px;
  font-style: italic;
}