header {
  font-size: 20px;
  margin: 20px 0;
  text-align: center;
  font-weight: bold;
}

.MuiLinearProgress-root {
  height: 12px !important;
  border-radius: 5px;
}

.text-align-right {
  text-align: right;
}

.current-word {
  opacity: 0.5;
  color: cornflowerblue;
  position: absolute;
  top: 0;
}

.word {
  font-size: 20px;
  font-weight: 700;
}

.relative {
  position: relative;
}
input:focus {
  outline: none;
}
.input-word {
  border: 0;
  font-size: inherit;
  color: rgb(56, 125, 252);
}