.App {
  /* text-align: center; */
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.square {
  height: 100px;
  width: 140px;
  background-color: coral;
  margin: 10px 0
}
.scroll {
  position: sticky;
  font-size: 34px;
  top: 0;
  left: 50;
  z-index: 1;
  background-color: cornflowerblue;
}
.mouse {
  position: sticky;
  font-size: 34px;
  top: 0;
  left: 0;
  z-index: 2;
  background-color:darkgreen;
}
